* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    color: white;
    background-color: #4070F6;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container h2 {
    margin: 1rem 0;
}

.container img {
    width: 5rem;
}

.timer-container {
    margin-top: 2rem;
    border: 1px solid white;
    border-radius: 8px;
    /* width: 100%; */
    padding: 2rem;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    /* width: 30%; */
    overflow: hidden;
    box-sizing: border-box;
    box-shadow: 0 5px 10px  rgba(0, 0, 0, .2);
    background: rgb(255, 48, 48);
}
#days, #hours,
#minutes, #seconds {
    font-weight: 900;
    font-size: 2em;
}

.timer-container p {
    margin: 0 0.9rem;
}

.columns {
    font-size: 2rem;
}